* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    line-height: normal;
    font-weight: 700;
    font-family: Promo, Helvetica, Arial, sans-serif;

}

h4, #trusted, button {
    font-family: Promo, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 20px 0px;

}


#banner {

    background: url(mountains.svg), linear-gradient(135deg, #1f4e69 0, #164058 100%);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 80px 180px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;


}

#banner > nav {
    position: relative;
    top: -80px;
    left: 0;
    border: yellow 2px solid;
    padding: 0px 0px;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo {
    border: 1px dashed red;

}

#logo img {
    height: 50%;
    position: relative;
    top: 10px;
    left: 0px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: black;
    font-size: large;
    height: 100%;
    padding: 25px 0px;
    border: 1px dashed white;

}

nav ul li {
    text-decoration: none;
    margin-left: 5px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: Promo, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 20px;


}

#status:before {
    content: '';
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    background-color: #47c652;
    position: relative;
    top: 1px;
    left: -6px;
    margin-left: 4px;
}

.dot {
    font-size: 30px;
    color: #12e112;
}

#login {
    background-color: rgba(256, 256, 256, 0.2);
    padding: 8px 10px;
    border-radius: 2px;
}

#signup {
    padding: 8px 10px;
    border-radius: 2px;
    background: #f47b21;
    color: #fff;
}


#banner > div {
    border: 1px white solid;

}

.rowContainer {
    display: flex;
    justify-content: space-between;
}

.rowContainer > div {
    border: #d02020 2px solid;

}

#banner_content {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#slogan > * {
    padding-top: 10px;
    padding-bottom: 0px;
}

#slogan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#trusted {
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 17px;
    padding: 8px 2px;
    margin-top: 16px;
    font-size: medium;
    text-align: center;
    width: 80%;
}

#trusted img {

    height: 13px;

    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);

    border: #a1d394 1px solid;
    margin-right: 5px;
}

#slogan button {
    padding: 15px 35px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #f47b21;
    margin-top: 20px;
    text-align: center;

}

.friend {
    margin-left: 12px;
    font-size: 19px;
    font-family: FriendlyFont, sans-serif;

}

#weatherShowing {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 4px solid #608094;
    background: #16394c;
    padding: 10px 30px;
    justify-content: space-between;

}

.weatherRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #12e112;
    margin: 5px;

}

.weatherCol {
    padding: 5px 7px;
    margin: 7px;
    border: 1px solid #12e112;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weatherCol > * {
    border: 1px dashed white;

}

#weatherShowing h4, h5 {
    padding: 0px;
    text-align: center;
    font-family: Promo, Helvetica, Arial, sans-serif;


}

#brandsBar {
    padding: 40px 180px;
    background: #eff2f5;

    border: green 1px solid;

}

#brandsBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border: 3px solid #12e112;


}

#brandsBar > ul > li {
    border: yellow 1px solid;
}

#brandsBar > ul > li h4 {
    font-weight: bold;
    padding-top: 5px;
}

#brandsBar > ul > li img {
    height: 40px;
    width: auto;
}

#box {
    padding: 50px 180px;
}

#box > div {
    background: #eff2f5;
    border-radius: 4px;

}

#box-container {
    display: flex;
    justify-content: space-between;
    border: red 1px solid;
}

#box-container > div {
    border: #12e112 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
}

#box-container > div > * {
    margin-bottom: 12px;
    border: #f47b21 1px dashed;
}


#box-container > div img {
    width: 30px;
}

#box-container > div h5 {
    text-align: left;
    font-weight: bold;
}

#box-container > div p {
    text-align: left;
    font-size: medium;
}

#map {
    border: #f47b21 1px dashed;

    display: flex;
    justify-content: space-between;
    padding: 30px 180px;
}

#map > div {
    border: #d02020 1px dashed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#map > div:first-child {
    margin-right: 35px;
}

#map img {
    width: 635px;
}

#map h4 {
    border: #12e112 1px dashed;
    font-weight: 550;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 27px;
    line-height: 30px;
}

#map p {
    border: #12e112 1px dashed;

    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 19px;
}

#map > div ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#map > div ul > li {
    display: flex;
}

#map > div ul > li img {
    width: 30px;

    border: #1f4e69 1px dashed;
}

#map > div > ul > li p {
    border: peru 1px dashed;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 17px;
    margin-left: 3px;
}

#codeExample {

    background: #184157 url("bg_waves_4.svg");

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 40px 0 40px 0;
    text-align: center;
    color: #fff;
    border: #d02020 2px solid;

}

#code {
    border: green 1px solid;
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 350px;
    justify-content: space-between;
}

#code > div {
    border: #16394c dashed 2px;
    padding: 0 350px;
}

#code > div > h4 {
    padding: 5px;
    background-color: rgba(256, 256, 256, 0.2);
    border: #d02020 1px solid;
    border-radius: 30px;
}

#code > h4 {
    border: #d02020 1px solid;
}


#code h5 {
    font-size: 25px;
    border: green 1px dashed;
}

#code > ul {
    margin-top: 20px;
    border: #a9a90d dashed 2px;


    display: flex;
    list-style: none;
    justify-content: space-between;
}

#code > ul > li {
    border: #ea0c0c solid 1px;
    border-left: gray solid 2px;
    border-right: gray solid 2px;
    font-size: 25px;
    text-align: center;
    width: 33.33%;
    padding: 16px 10px 18px 10px;
}


#code > ul > li a {
    font-size: 20px;
    text-align: center;
}

#code > ul > li:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f47b21;
}

#code > ul > li:nth-child(2) {
    background-color: white;
    color: black;
}

#code > ul > li:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    color: black;
}

#result {
    margin-top: 40px;
    padding: 5px;
    background-image: url("CaptureCode.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: white dashed 1px;
    height: 880px;
}

#codeExample > div:last-child {
    padding: 40px 170px 0 170px;

    border: white 1px solid;

}

#grids {

    display: grid;
    grid-template-columns: repeat(3, 33.3%);


}

#grids > div {
    margin: 10px;

    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(256, 256, 256, 0.2);


}

#grids > div > div {
    padding: 5px 0px;
    display: flex;
    border: 1px dashed red;

}

#grids > div > div img {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    width: 40px;
    border: #a1d394 1px solid;
    margin-right: 5px;
}

#grids > div > div > h4 {
    padding: 12px;
    border: white 1px dashed;
    font-weight: bold;
}

#grids > div > div:last-child {
    font-size: 17px;
}

#brands {

    border: #1f4e69 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 30px 160px 0 160px;
}


#brands h4 {
    font-weight: bolder;
    font-size: 25px;
    border: yellow 2px dashed;
}

#brands h5 {

    font-size: 20px;

    padding: 0 330px;
    border: purple 1px dashed;
}

#brands ul {
    list-style: none;
    padding: 0;
    margin: 45px 0;
    text-align: left;

    border: #164058 1px dashed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


#brands > ul > li:first-child {
    width: 265px;
    height: 100px;
    background: gray;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    background: #263e6a url("client_white_daimler.svg");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center;
}

#brands > ul > li:nth-child(2) {
    width: 265px;
    height: 100px;
    background: gray;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    background: #eef2f5 url("client_deloitte.svg");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

#brands > ul > li:nth-child(3) {

    height: 100px;
    background: gray;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    background: #01275b url("client_white_ericsson_2.svg");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
}

#brands > ul > li:nth-child(4) {

    height: 100px;
    background: gray;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    background: #eef2f5 url("client_microsoft.svg");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
}


#brands > ul > li:nth-child(5) {

    height: 100px;
    background: gray;

    margin-bottom: 10px;
    border-radius: 5px;

    background: #41a229 url(client_white_schneider.svg);

    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 215px;
    margin-right: 0;
}

#brands > ul > li:nth-child(6) {

    height: 100px;
    background: gray;

    margin-bottom: 10px;
    border-radius: 5px;

    background: #027ac2 url("client_white_warnerbros.svg");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 190px;
}

#brands > ul > li:nth-child(7) {

    height: 100px;
    background: gray;
    width: 260px;
    margin-bottom: 10px;
    border-radius: 5px;

    background: #ee2e25 url("client_white_wawa.svg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

#brands > ul > li:nth-child(8) {

    height: 100px;
    background: gray;

    margin-bottom: 10px;
    border-radius: 5px;

    background: #eef2f5 url(client_canda.svg);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    width: 135px;
}


#brands > ul > li:nth-child(9) {

    height: 100px;
    background: gray;

    margin-bottom: 10px;
    border-radius: 5px;

    background: #23477f url(client_mckinsey.svg);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    width: 260px;
}

#brands > ul > li:nth-child(10) {

    height: 100px;
    background: gray;
    width: 260px;
    margin-bottom: 10px;
    border-radius: 5px;

    background: #eef2f5 url(client_rimowa.svg);
    background-size: 155px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

#signupAccess {
    border: #f47b21 dashed 1px;
    margin: 0 -160px;
    background-color: #eef2f5;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#signupAccess > div {
    display: flex;
    justify-content: space-around;
}

#signupAccess > div > h4 {
    font-weight: bold;
    font-size: 15px;
}

#signupAccess > div > img {
    width: 20px;
    border: #f47b21 1px dashed;
    margin-left: 10px;
}

#signupAccess > div > button {
    background: #f47b21;
    padding: 10px 15px;
    width: auto;
    height: auto;
    margin-left: 20px;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;

}

footer {
    text-align: center;
    padding: 50px 160px;
    background: #184157;
    font-size: 14px;
    color: #fff;

}

footer > div {
    border: #f47b21 1px dashed;
    display: flex;
    justify-content: space-between;
}

.left_side {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border: yellow 2px dashed;
}

.left_side > ul {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
    border: #d02020 1px dashed;
    display: flex;
    flex-direction: column;


}

.left_side > ul > li {
    margin-bottom: 5px;
}

.left_side > ul > * {
    border: #12e112 1px solid;
}

.left_side > ul li {
    text-align: left;
    line-height: 30px;
    text-decoration: none;

}

.heading {
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

.left_side > ul li a {
    text-decoration: none;
    color: #eef2f5;
    font-size: 15px;
}

.right_side {
    border: #eef2f5 2px dashed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.right_side > * {
    margin-bottom: 10px;
}

.right_side > img {
    width: 70%;
    border: greenyellow 2px solid;
}

.copyright {
    line-height: 3px;
    font-weight: lighter;

}

.copyright a {
    text-decoration: underline;
    color: #eef2f5;
}

.socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
    border: yellow 1px dashed;
}

.socials img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
